<div class="container p-3">
  <h1><%= @task.title %></h1>
  <div class="container py-3">
    <p><%= @task.details %></p>
    <% if @task.completed %>
      <h3><i class="fa-solid fa-square-check"></i></h3>
    <% else %>
      <h3><i class="fa-solid fa-square"></i></h3>
    <% end %>
    <section>
      <%= link_to "Edit", edit_task_path , class: "btn btn-warning" %>
      <%= link_to "Delete", task_path, class: "btn btn-danger",
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
    </section>
  </div>
  <%= link_to "Go back on Tasks", tasks_path, class: "my-3 btn btn-primary" %>
</div>
